/.idea/inspectionProfiles/profiles_settings.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/puthon_100.iml
/.idea/vcs.xml
/.idea/workspace.xml
/Day 14/__pycache__/art.cpython-39.pyc
/Day 14/__pycache__/game_data.cpython-39.pyc
/Day 11/__pycache__/art.cpython-39.pyc
/Day 16/coffemachine/__pycache__/coffee_maker.cpython-39.pyc
/Day 16/coffemachine/__pycache__/menu.cpython-39.pyc
/Day 16/coffemachine/__pycache__/money_machine.cpython-39.pyc
/Day 17/QuizGame/__pycache__/data.cpython-39.pyc
/Day 17/QuizGame/__pycache__/question_model.cpython-39.pyc
/Day 17/QuizGame/__pycache__/quiz_brain.cpython-39.pyc
/Day 18/arts/__pycache__/get_color.cpython-39.pyc
/Day 4/lesson_1/__pycache__/my_module.cpython-39.pyc
/Day 7/__pycache__/hangman_art.cpython-39.pyc
/Day 7/__pycache__/hangman_words.cpython-39.pyc
/Day 8/__pycache__/caesar_cipler_art.cpython-39.pyc
/Day 9/__pycache__/art.cpython-39.pyc
/Day_11/__pycache__/art.cpython-39.pyc
/Day_16/coffemachine/__pycache__/coffee_maker.cpython-39.pyc
/Day_16/coffemachine/__pycache__/menu.cpython-39.pyc
/Day_16/coffemachine/__pycache__/money_machine.cpython-39.pyc
/Day_17/QuizGame/__pycache__/data.cpython-39.pyc
/Day_17/QuizGame/__pycache__/question_model.cpython-39.pyc
/Day_17/QuizGame/__pycache__/quiz_brain.cpython-39.pyc
/Day_18/arts/__pycache__/get_color.cpython-39.pyc
/Day_4/lesson_1/__pycache__/my_module.cpython-39.pyc
/Day_7/__pycache__/hangman_art.cpython-39.pyc
/Day_7/__pycache__/hangman_words.cpython-39.pyc
/Day_8/__pycache__/caesar_cipler_art.cpython-39.pyc
/Day_9/__pycache__/art.cpython-39.pyc
/Day 20-21/__pycache__/snake.cpython-39.pyc
/Day 20-21/__pycache__/food.cpython-39.pyc
/Day 20-21/__pycache__/scoreboard.cpython-39.pyc
/Day 22/__pycache__/ball.cpython-39.pyc
/Day 22/__pycache__/Block.cpython-39.pyc
/Day 22/__pycache__/scoreboard.cpython-39.pyc
/Day 23/__pycache__/car_manager.cpython-39.pyc
/Day 23/__pycache__/player.cpython-39.pyc
/Day 23/__pycache__/scoreboard.cpython-39.pyc
