/.idea/inspectionProfiles/profiles_settings.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/puthon_100.iml
/.idea/vcs.xml
/.idea/workspace.xml
/Day_14/__pycache__/art.cpython-39.pyc
/Day_14/__pycache__/game_data.cpython-39.pyc
